body{
	background: #eee;
	text-align: center;
}

h1{
	margin:50px auto;
	font-size: 36px;
	color: #1A9481;
}

p{
	margin: 50px;
	color: #333;
	font-family: tahoma;
	font-size: 14px;
	font-weight: bold;

}

img{
	width: 80%;
	margin: auto;
}